extends layout

block content
  .container.container-main
    .col-xs-12
      .row.jumbotron.shadow-z-2
        h1 Welcome to MQTT Server
        p
          | เว็บไซต์ให้บริการ MQTT Broker เพื่อให้บริการการทำ Internet of Things
        p
          a.btn.btn-primary.btn-raised.btn-material-blue
            | Read more >>
      .row
        .col-xs-12.col-md-4.shadow-z-1.grid-content-main
          h2 What is IOT?
          .btn.btn-primary.btn-raised.btn-material-blue
            | Details >>
        .col-xs-12.col-md-4.shadow-z-1.grid-content-main
          h2 Pricing & Plan
          .btn.btn-primary.btn-raised.btn-material-blue
            | Details >>
        .col-xs-12.col-md-4.shadow-z-1.grid-content-main
          h2 Others
          .btn.btn-primary.btn-raised.btn-material-blue
            | Details >>