doctype html
html
  head
    title ITMQ Broker

    // Material Design
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='/javascripts/paho/mqttws31.js')

    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='../bower_components/bootstrap-material-design/dist/css/roboto.min.css')
    link(rel='stylesheet', href='../bower_components/bootstrap-material-design/dist/css/material-fullpalette.min.css')
    link(rel='stylesheet', href='../bower_components/bootstrap-material-design/dist/css/ripples.min.css')
    link(rel='stylesheet', href='//fezvrasta.github.io/snackbarjs/dist/snackbar.min.css')

    // icon
    link(rel='stylesheet', href='../node_modules/bootstrap-material-design-icons/css/material-icons.css')

    // fullPage.js
    link(rel='stylesheet', href='/fullpage/jquery.fullPage.css')


    // My CSS style
    link(rel='stylesheet', href='/stylesheets/fonts.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style_sass.css')


    //Mobile Support
    meta(name='viewport', content='width=device-width, initial-scale=1')

  block link
    -var selected = 'default'; //default
    if !session.email
      -var login = false;
    else
      -var login = true;
  body
    .navbar.navbar-green.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img(src='/images/MQTT-Logo.png', style='height:100%')
        if (selected === 'default') || (selected === 'demo' && !login)
          .navbar-collapse.collapse.navbar-responsive-collapse
            ul#navigator.nav.navbar-nav.navbar-left
              li(data-menuanchor="homePage" class="active")
                a(href='/#homePage') Home
              li(data-menuanchor="iotPage" )
                a(href='/#iotPage') What's IoT
              li(data-menuanchor="aboutPage" )
                a(href='/#aboutPage') About
              li(data-menuanchor="contactPage" )
                a(href='/#contactPage') Contact
            ul.nav.navbar-nav.navbar-right
              li
                a#webdemo(href='/demo') WebSocket Demo
              li
                if !session || !session.email
                  a.btn-raised.btn-material-green.btn-navbar.btn-nav(href='/signup') SIGN UP
                else
                  a.btn-raised.btn-material-green.btn-navbar.btn-nav(href='/user') SIGN UP
              li
                if !session || !session.email
                    a.btn-raised.btn-material-green.btn-navbar.btn-nav(href='/loginPage') LOG IN
                else
                    a.btn-raised.btn-material-green.btn-navbar.btn-nav(href='/user') LOG IN
        else if (selected === 'demo' && login)
          .navbar-collapse.collapse.navbar-responsive-collapse
            ul.nav.navbar-nav.navbar-right
              li.dropdown
                a.dropdown-toggle(href='http://fezvrasta.github.io/bootstrap-material-design/bootstrap-elements.html', data-target='#', data-toggle='dropdown') #{session.email}
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='/user') Project
                  li
                    a(href='/demo') WebSocket
                  li
                    a(href='javascript:void(0)') Doc
                  li
                    a(href='javascript:void(0)') Settings
                  li
                    a(href='/loginPage/logout') Log Out

    block content

    //Java Scripts
    script(src='../bower_components/bootstrap-material-design/dist/js/material.min.js')
    script(src='../bower_components/bootstrap-material-design/dist/js/ripples.min.js')
    script(src='/javascripts/script.js')
    //- script(src='/javascripts/showDemo.js')
    script(src='/fullpage/vendors/jquery.easings.min.js')
    script(type='text/javascript', src='/fullpage/vendors/jquery.slimscroll.min.js')
    script(type='text/javascript', src='/fullpage/jquery.fullPage.js')
    script(type='text/javascript').
      $.material.init();
      $(document).ready(function() {
        $('#fullpage').fullpage({
          menu: '#navigator',
          lockAnchors: false,
          anchors:['homePage', 'iotPage','aboutPage','contactPage'],
          navigation: false,
          navigationPosition: 'right',
          navigationTooltips: ['firstSlide', 'secondSlide'],
          showActiveTooltip: false,
          slidesNavigation: true,
          slidesNavPosition: 'bottom',
          resize : false,
          responsiveHeight: 300
        });
      });