doctype html
html
  head
    title MQTT Broker

    //Material Design
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='/javascripts/paho/mqttws31.js')
    script(src='/javascripts/socket.io/socket.io.js')

    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='../bower_components/bootstrap-material-design/dist/css/roboto.min.css')
    link(rel='stylesheet', href='../bower_components/bootstrap-material-design/dist/css/material-fullpalette.min.css')
    link(rel='stylesheet', href='../bower_components/bootstrap-material-design/dist/css/ripples.min.css')
    link(rel='stylesheet', href='//fezvrasta.github.io/snackbarjs/dist/snackbar.min.css')
    
    // fullPage.js
    link(rel='stylesheet', href='/fullpage/jquery.fullPage.css')


    // My CSS style
    link(rel='stylesheet', href='/stylesheets/fonts.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style_sass.css')


    //Mobile Support
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    .navbar.navbar-green.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img(src='/images/MQTT-Logo.png', style='height:100%')
        .navbar-collapse.collapse.navbar-responsive-collapse
          ul#navigator.nav.navbar-nav.navbar-left
            //- a(href='javascript:void(0)')
            //-   img.logo(src='http://localhost:3000/images/logo1.png', alt='My_Logo').logo-navbar
            li(data-menuanchor="homePage" class="active")
              a(href='/#homePage') Home
            li(data-menuanchor="aboutPage" )
              a(href='/#aboutPage') About
            li(data-menuanchor="planPage" )
              a(href='/#planPage') Pricing
            li(data-menuanchor="contactPage" )
              a(href='/#contactPage') Contact
          //-   li.dropdown
          //-     a.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
          //-       | Dropdown 
          //-       b.caret
          //-     ul.dropdown-menu
          //-       li
          //-         a(href='javascript:void(0)') Action
          //-       li
          //-         a(href='javascript:void(0)') Another action
          //-       li
          //-         a(href='javascript:void(0)') Something else here
          //-       li.divider
          //-       li.dropdown-header Dropdown header
          //-       li
          //-         a(href='javascript:void(0)') Separated link
          //-       li
          //-         a(href='javascript:void(0)') One more separated link
          //- form.navbar-form.navbar-left
          //-   input.form-control.col-lg-8(type='text', placeholder='Search')
          ul.nav.navbar-nav.navbar-right
            li
              a#webdemo(href='/demo') WebSocket Demo
            li
              a.btn-raised.btn-material-green.btn-navbar.btn-nav(href='/signup') SIGN UP
            //- li
            //-   a(href='/test') Test
            //- li
            //-   a(href='javascript:void(0)') Contact
            //- li.btn.btn-primary.btn-raised.btn-material-blue-A200.btn-navbar
            //-   | Register
            li
              if !session || !session.email
                  a.btn-raised.btn-material-green.btn-navbar.btn-nav(href='/loginPage') LOG IN
              else
                  a.btn-raised.btn-material-green.btn-navbar.btn-nav(href='/user') #{session.email}
            //- a.btn-green(href='/login') Log in
            //- li
            //-   a(href='javascript:void(0)') Link
            //- li.dropdown
            //-   a.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
            //-     | Dropdown 
            //-     b.caret
            //-   ul.dropdown-menu
            //-     li
            //-       a(href='javascript:void(0)') Action
            //-     li
            //-       a(href='javascript:void(0)') Another action
            //-     li
            //-       a(href='javascript:void(0)') Something else here
            //-     li.divider
            //-     li
            //-       a(href='javascript:void(0)') Separated link

    block content

    //Java Scripts
    script(src='../bower_components/bootstrap-material-design/dist/js/material.min.js')
    script(src='../bower_components/bootstrap-material-design/dist/js/ripples.min.js')
    script(src='/javascripts/script.js')
    //- script(src='/javascripts/showDemo.js')
    script(src='/javascripts/manageUsers.js')
    script(src='/javascripts/controlUsers.js')
    script(src='/javascripts/socket.io/socket.io.js')
    script(src='/fullpage/vendors/jquery.easings.min.js')
    script(type='text/javascript', src='/fullpage/vendors/jquery.slimscroll.min.js')
    script(type='text/javascript', src='/fullpage/jquery.fullPage.js')
    script(type='text/javascript').
      $.material.init();
      $(document).ready(function() {
        $('#fullpage').fullpage({
          menu: '#navigator',
          lockAnchors: false,
          anchors:['homePage', 'aboutPage','planPage','contactPage'],
          navigation: false,
          navigationPosition: 'right',
          navigationTooltips: ['firstSlide', 'secondSlide'],
          showActiveTooltip: false,
          slidesNavigation: true,
          slidesNavPosition: 'bottom',
          resize : false,
          responsiveHeight: 300
        });
      });