doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/dist/jquery-1.11.3.js')
    script(src='/javascripts/dist/jquery-1.11.3.min.js')
    script(src='/javascripts/showData.js')
    script(src='/javascripts/socket.io/socket.io.js')
  body
    block content
