extends layout

block content
  .container.container-main.container-home.padding-nav
    .row.card-box
      #card.col-md-6.card(style="float: none; margin: 0 auto;")
        .panel.shadow-z-2.card-front
          .panel-heading(style="background-color: #008584;")
            h2(style="color: white;") Login
          .panel-body
            form
              .col-md-12.field
                label.field-label(for="userforlogin") Username
                input.field-input(type='text', id="userforlogin")
                br
              .col-md-12.field
                label.field-label(for="passforlogin") Password
                input.field-input(type='password', id="passforlogin")
                br
              .col-md-6(style="padding: 0; margin-top: 10px;")
                a#loginButton.btn.btn-primary.btn-raised(style=" background-color: #008584;") Login
              .col-md-6(style="padding: 0; margin-top: 10px; text-align: right")
                a#regisLink.btn.btn-flat.btn-link.btn-link-stlye Sign up

        .panel.shadow-z-2.card-back
          .panel-heading(style="background-color: #008584;")
            h2(style="color: white;") Sign up
          .panel-body
            form
              .col-md-12.field
                label.field-label(for="userforregis") Username
                input.field-input(type='text', id="userforregis")
                br
              .col-md-12.field
                label.field-label(for="passforregis") Password
                input.field-input(type='password', id="passforregis")
                br
              .col-md-12.field
                label.field-label(for="confirmpassforregis") Confirm Password
                input.field-input(type='password', id="confirmpassforregis")
                br
              .col-md-12(style='padding: 0; margin-top: 10px;')
                label.col-md-2.control-label(style='padding: 0;') Packages
                .col-md-10(style='padding: 0;')
                  .radio.radio-primary
                    label
                      input#package(type='radio', name='package', value='option1', checked='')
                      |             Bronze
                  .radio.radio-primary
                    label
                      input#package(type='radio', name='package', value='option2')
                      |             Silver
                  .radio.radio-primary
                    label
                      input#package(type='radio', name='package', value='option2')
                      |             Gold
                  .radio.radio-primary
                    label
                      input#package(type='radio', name='package', value='option2')
                      |             Diamond
              .col-md-6(style="padding: 0; margin-top: 10px;")
                a#signupButton.btn.btn-primary.btn-raised(style=" background-color: #008584;") Sign up
              .col-md-6(style="padding: 0; margin-top: 10px; text-align: right")
                a#backtoLogin.btn.btn-flat.btn-link.btn-link-stlye Back to Login

  style.
    body{
      background-color: #E9E9E9;
    }
    .btn-link-stlye{
      color:#008584; 
    }
    .btn-link-stlye:hover{
      color:#008584;
      background: #F5F5F5!important;
    }
    .field {
        position: relative;
        height: 72px;
        padding: 16px 0 8px 0;
    }
    .field-label {
        position: relative;
        margin: 0;
        display: block;
        color: #bfbfbf;
        line-height: 16px;
        font-size: 16px;
        font-weight: 400;
        -webkit-transform: translateY(24px);
        -ms-transform: translateY(24px);
        transform: translateY(24px);
        -webkit-transition: -webkit-transform 0.3s, color 0.3s;
        transition: transform 0.3s, color 0.3s;
        -webkit-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
        transform-origin: 0 50%;
    }
    .field-input {
        position: relative;
        display: block;
        width: 100%;
        height: 32px;
        padding: 8px 0;
        line-height: 16px;
        font-size: 16px;
        background: transparent;
        border: none;
        -webkit-appearance: none;
        outline: none;
    }
    .field::after, .field::before {
        content:'';
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: 6px;
        left: 0;
        background-color: #e6e6e6;
    }
    .field::after {
        background-color: #008584;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }

    .has-label .field-label {
        -webkit-transform: translateY(0) scale(0.75);
        -ms-transform: translateY(0) scale(0.75);
        transform: translateY(0) scale(0.75);
    }
    .is-focused .field-label {
        color: #008584;
    }
    .field.is-focused::after {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    }

    .card-box{
      width: 600px;
      height: 320px;
      position: relative;
      perspective: 800px;
      margin: 0 auto;
    }    

    .card{
      width: 100%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      transition: transform 1s;
      padding: 0;
    }

    .card-front,.card-back{
      margin: 0;
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }

    .card-front{
      z-index: 2;
    }

    .card-back{
      height: 520px;
      transform: rotateY( 180deg );
    }

    .card.flipped{
      transform: rotateY( 180deg );
    }

  script(type='text/javascript').
    $(document).ready(function () {
      $('.field-input').focus(function () {
        $(this).parent().addClass('is-focused has-label');
      });

      $('.field-input').each(function () {
        if ($(this).val() != '') {
            $(this).parent().addClass('has-label');
        }
      });

      $('.field-input').blur(function () {
        $parent = $(this).parent();
        if ($(this).val() == '') {
            $parent.removeClass('has-label');
        }
        $parent.removeClass('is-focused');
      });

      $('#regisLink').on('click', function(){
        $('#card').addClass('flipped');
      })

      $('#backtoLogin').on('click', function(){
        $('#card').removeClass('flipped');
      })

    });