extends itmq_head

block content
  .container.container-main.container-home.en-font.padding-nav
    //- .row
    //-   .col-sm-6(style="text-align: center; float:none; margin: 0 auto;")
    //-     h2.dark-green Log In
    .row
      .col-sm-6(style="float: none; margin: 0 auto;")
        .panel
          .panel-heading(style="background-color: #ffffff;")
            h2(style="color: #008584; text-align: center;") Log in
          .panel-body
            form
              .col-sm-12.field
                label.field-label(for="userforlogin") Username
                input.field-input(type='text', id="userforlogin")
                br
              .col-sm-12.field
                label.field-label(for="passforlogin") Password
                input.field-input(type='password', id="passforlogin")
                br
              .col-sm-6(style="margin-top: 40px; color: #aaaaaa; padding-left: 0;")
                | Forgot your password?
                a(href='/') Remember
              .col-sm-6(style="padding: 0;")
                a#loginButton.btn-homegreen Log In

  style.
    body{
      background-color: #E9E9E9;
    }
    .dark-green{
      color:#006666;
    }
    .field {
        position: relative;
        height: 72px;
        padding: 16px 0 8px 0;
    }
    .field-label {
        position: relative;
        margin: 0;
        display: block;
        color: #bfbfbf;
        line-height: 16px;
        font-size: 16px;
        font-weight: 400;
        -webkit-transform: translateY(24px);
        -ms-transform: translateY(24px);
        transform: translateY(24px);
        -webkit-transition: -webkit-transform 0.3s, color 0.3s;
        transition: transform 0.3s, color 0.3s;
        -webkit-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
        transform-origin: 0 50%;
    }
    .field-input {
        position: relative;
        display: block;
        width: 100%;
        height: 32px;
        padding: 8px 0;
        line-height: 16px;
        font-size: 16px;
        background: transparent;
        border: none;
        -webkit-appearance: none;
        outline: none;
    }
    .field::after, .field::before {
        content:'';
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: 6px;
        left: 0;
        background-color: #e6e6e6;
    }
    .field::after {
        background-color: #008584;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }

    .has-label .field-label {
        -webkit-transform: translateY(0) scale(0.75);
        -ms-transform: translateY(0) scale(0.75);
        transform: translateY(0) scale(0.75);
    }
    .is-focused .field-label {
        color: #008584;
    }
    .field.is-focused::after {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    }

  script(type='text/javascript').
    $(document).ready(function () {
      $('.field-input').focus(function () {
        $(this).parent().addClass('is-focused has-label');
      });

      $('.field-input').each(function () {
        if ($(this).val() != '') {
            $(this).parent().addClass('has-label');
        }
      });

      $('.field-input').blur(function () {
        $parent = $(this).parent();
        if ($(this).val() == '') {
            $parent.removeClass('has-label');
        }
        $parent.removeClass('is-focused');
      });
    });