extends user_head

block content
  .container.container-main.container-plan
        .content-plan
          .panel.panel-plan
            .row
              p.heading-plan.text-center
                | Pricing & Plan
            .row
              .col-xs-12
                .col-sm-6.col-md-3.text-center
                  img(src='/images/bronze.png').medal-size
                  p.p-medal
                    | Bronze Package
                  p.p-medalcontent
                    | 10 connections
                  p.p-pricing
                    | Free
                .col-sm-6.col-md-3.text-center
                  img(src='/images/silver.png').medal-size
                  p.p-medal
                    | Silver Package
                  p.p-medalcontent
                    | 100 connections
                  p.p-pricing
                    | 59 THB / Month
                .col-sm-6.col-md-3.text-center
                  img(src='/images/gold.png').medal-size
                  p.p-medal
                    | Gold Package
                  p.p-medalcontent
                    | 1000 connections
                  p.p-pricing
                    | 499 THB / Month
                .col-sm-6.col-md-3.text-center
                  img(src='/images/diamond.png').medal-size
                  p.p-medal
                    | Diamond Package
                  p.p-medalcontent
                    | Unlimited connections
                  p.p-pricing
                    | 999 THB / Month