extends layout

block content
  .container.container-main
    h1= title
    p Welcome to Test
    div
      p Topic
      input#topic(type='text', name='topic')
      br
      br
      button#subscribe(type='submit') subscribe
      br
      p#subscribed
    div
      p Topic
      input#sub(type='text', name='sub')
      br
      p Publish
      input#pub(type='text', name='pub')
      br
      br
      button#publish(type='submit') publish
      br
      p Publish : #{pub}
      br
    div     
      button#on(type='submit' , value='On' , name='bswitch') On
      br
      button#off(type='submit' , value='Off' , name='bswitch') Off
      br
      input#led(type='checkbox', checked='checked')
    div
      p Message
      p#data
