doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    title ITMQ Broker

    //Material Design
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='/javascripts/paho/mqttws31.js')
    script(src='/javascripts/socket.io/socket.io.js')

    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='../bower_components/bootstrap-material-design/dist/css/roboto.min.css')
    link(rel='stylesheet', href='../bower_components/bootstrap-material-design/dist/css/material-fullpalette.min.css')
    link(rel='stylesheet', href='../bower_components/bootstrap-material-design/dist/css/ripples.min.css')
    link(rel="stylesheet", href='//cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css')
    link(rel='stylesheet', href='//fezvrasta.github.io/snackbarjs/dist/snackbar.min.css')

    // icon
    link(rel='stylesheet', href='/bootstrap-material-design-icons/css/material-icons.css')
    link(rel='stylesheet', href='/stylesheets/flaticon.css')

    // My CSS style
    link(rel='stylesheet', href='/stylesheets/fonts.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style_sass.css')

    //Mobile Support
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body(style="background: #e9e9e9")
    .navbar.navbar-green.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img(src='/images/MQTT-Logo.png', style='height:100%')
        .navbar-collapse.collapse.navbar-responsive-collapse
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='http://fezvrasta.github.io/bootstrap-material-design/bootstrap-elements.html', data-target='#', data-toggle='dropdown') #{session.email}
                b.caret
              ul.dropdown-menu
                li
                  a(href='/user') Project
                li
                  a(href='/demo') WebSocket
                li
                  a(href='javascript:void(0)') Doc
                li
                  a(href='/pricing') Pricing & Plan
                li
                  a(href='/loginPage/logout') Log Out
                //- li.divider
                //- li.dropdown-header Dropdown header
                //- li
                //-   a(href='javascript:void(0)') Separated link
                //- li
                //-   a(href='javascript:void(0)') One more separated link

    block content

    //Java Scripts
    script(src='../bower_components/bootstrap-material-design/dist/js/material.min.js')
    script(src='../bower_components/bootstrap-material-design/dist/js/ripples.min.js')
    script(src='/javascripts/script.js')
    //- script(src='/javascripts/showDemo.js')
    script(src='/javascripts/manageUsers.js')
    script(src='/javascripts/controlUsers.js')
    script(type='text/javascript').
      $.material.init();