* {
  box-sizing: border-box; }

.navbar.navbar-green {
  background: #008584;
  color: #ffffff; }

.en-font {
  font-family: sans-serif; }

.th-font {
  font-family: "ThaiSansNeue"; }

.btn-homewhite {
  margin-top: 30px;
  margin-right: 100px;
  padding: 10px;
  background: #ffffff;
  color: #006666;
  font-size: 20px;
  text-align: center;
  display: block; }
  .btn-homewhite:hover {
    background: #cccccc;
    color: #4d4d4d;
    cursor: pointer;
    text-decoration: none; }

.btn-homegreen {
  margin-top: 30px;
  margin-left: 100px;
  padding: 10px;
  background: #17bfa4;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  display: block; }
  .btn-homegreen:hover {
    background: #009688;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none; }

.btn-green {
  background: #006666;
  color: #ffffff; }
  .btn-green:hover {
    background: #17bfa4;
    cursor: pointer; }

.btn-grey {
  background: #cccccc !important;
  color: #4d4d4d;
  text-transform: none;
  font-size: 24px; }

.btn-nav {
  margin: 5px;
  background: #006666 !important;
  height: 80%;
  margin: 5px;
  line-height: 10px !important; }
  .btn-nav:hover {
    background: #009688 !important; }

.padding-nav {
  padding-top: 30px; }

.container-main {
  width: 1170px; }

.container-home {
  height: 100%; }

.container-table {
  margin: auto;
  display: table;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.table-cell {
  display: table-cell;
  vertical-align: middle; }

.container-about {
  padding-top: 10px; }

.container-iot {
  background: #17bfa4; }

.container-plan {
  height: 550px; }

.footer-main {
  background: #cccccc;
  height: 420px; }

.content-main {
  text-align: center;
  font-family: sans-serif;
  font-size: 48px;
  color: #ffffff;
  margin-top: 160px; }

.content-about {
  font-family: "ThaiSansNeue";
  font-size: 24px;
  color: #4d4d4d; }

.content-plan {
  font-family: "ThaiSansNeue";
  font-size: 24px;
  color: #4d4d4d; }

.content-main-small {
  font-size: 36px;
  margin-top: 25px; }

.content-box {
  height: 100%; }

.panel-about {
  background: #f5f5f5;
  padding-top: 40px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 100%;
  height: 260px;
  width: 260px;
  margin: 10px auto;
  position: relative; }
  .panel-about .cover {
    color: white;
    background: rgba(50, 50, 50, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: 0.4s;
    -ms-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
    .panel-about .cover:hover {
      opacity: 1; }
    .panel-about .cover p.readmore {
      font-size: 2em;
      text-align: center;
      line-height: 260px; }

.panel-plan {
  background: #f5f5f5;
  margin-top: 80px;
  height: 450px;
  padding-left: 35px;
  padding-right: 35px; }

.pic-size {
  width: 90px; }

.medal-size {
  width: 95px; }

.heading {
  font-size: 40px; }

.heading-plan {
  font-size: 72px;
  padding-bottom: 10px; }

.about-modal {
  font-family: "ThaiSansNeue";
  color: #4d4d4d;
  font-size: 24px; }

.p-about {
  padding-top: 10px; }

.p-medal {
  padding-top: 10px;
  margin-bottom: 0;
  font-size: 40px; }

.p-medalcontent {
  font-size: 28px;
  margin-bottom: 0; }

.p-logo-footer {
  margin-top: -60px;
  font-family: "ThaiSansNeue";
  font-size: 50px;
  color: #008584; }

.p-logo-quote {
  margin-top: -20px;
  font-family: "ThaiSansNeue";
  font-size: 36px;
  color: #008584; }

.footer-content {
  font-family: "ThaiSansNeue";
  font-size: 18px;
  color: #323232; }

.footer-heading {
  font-size: 40px;
  margin-bottom: 0px; }

.green-txt {
  color: #008584; }

.footer-it {
  font-size: 16px;
  margin-bottom: 0px; }

.itmq-head {
  height: 120px;
  text-align: center;
  background: #008584; }

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important; }

.page {
  position: relative;
  width: 100%;
  min-height: 100%; }

#fullpage {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%; }
  #fullpage .section.page1 {
    background: #008584;
    display: table; }
  #fullpage .section.page2 {
    background: #17bfa4; }
  #fullpage .section.page3 {
    background: #e9e9e9; }
  #fullpage .section.page4 {
    background: #cccccc; }
    @media screen and (min-width: 768px) {
      #fullpage .section.page4 {
        background: black; } }

.clear {
  clear: both; }

/*# sourceMappingURL=style_sass.css.map */